/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.gorilla-port
cortex-examples/.gorilla-port
/.lein-*
/.nrepl-port
*.sw[op]
/bin/
/.project
/.classpath
/.settings/
target
checkouts
.lein-*
.nrepl-port
.idea/
